body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;   
    
}

.contact{
    display: flex;
    flex-direction: column; 
    height:100%;
    width:100%;
    align-items: center;
    justify-content: center;
    background-color: #f4eeed;
    padding: 3%;
    font-family: 'Josefin Sans';
}
.contactForm{
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: center;
    align-items: center;
    width:70%;
}
.contact h1{
    text-align: center;
    color:white;
}
.contactsection{
    border-radius:10px;
    align-self: center;
    justify-self: center;
    padding:4%;
    width:80%;
    justify-content: center;
    /*box-shadow: 2px 4px 8px rgba(0,0,0,0.7);*/
}
form{
    justify-self: center;
    width:100%;
}
.sector{
    width:100%;
    display:flex;
    flex-direction: row; 
}
.sector input[type="email"],.sector input[type="text"]{
    margin:5px 10px;
    width: 50%;
    padding: 3%;
    border: 1px solid #6c6c6c; 
    box-shadow: 2px 2px 3px 3px #130800;
    box-sizing: border-box;
    border-radius: 20px;
    font-size:larger;
    text-align: start;
    text-indent: 5px;
}
.contactsection textarea{
    margin:5px 10px;
    width: 97%;
    padding: 3%;
    border: 1px solid #6c6c6c; 
    box-shadow: 2px 2px 3px 3px #130800;
    box-sizing: border-box;
    border-radius: 20px;
    font-size:larger;
    text-align: start;
    text-indent: 10px;
}
.contactsection button{
   margin:10px;
    width: 97%;
   padding: 2%;
   border-radius: 30px;
    border: 1px solid #343434;
    box-shadow: 2px 2px 3px 3px #130800;
    font-size:x-large;
    justify-content: center;
    color:rgb(255, 255, 255);
    background-color: #7d605b;
}
.contactsection p, .helper-text{
    font-size:large;
    text-align: center;
    color: rgb(0, 0, 0);
}

@media (max-width: 750px){
    .contactForm{
        width:100%;
    }
}